# Node.js / JavaScript
node_modules/
npm-debug.log
yarn-error.log

# Build files
dist/
build/

# Operating system files
.DS_Store
Thumbs.db

# IDE / Editor files
.vscode/
.idea/
*.swp

# Sensitive files
.env
*.key
